@model Shopify.Models.Playlist

<h2>Tạo Playlist</h2>

<form method="post">
    <div class="form-group mb-3">
        <label>Tên Playlist</label>
        <input class="form-control" name="Name" required />
    </div>

    <button class="btn btn-success">Tạo</button>
</form>
